<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Task list</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Series/Animes</a>
      </li>
    </ul>
    <span class="navbar-text mr-4">
      <a href="">Settings</a>
    </span>
  </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>