<div class="mt-5">
  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseForm"
    aria-expanded="false" aria-controls="collapseForm">
    New task
  </button>

  <div class="collapse mt-3" id="collapseForm">
    <div class="card card-body shadow">
      <form class="p-2">
        <div class="form-group row">
          <label for="type">Type:</label>
          <select class="form-control col-12 col-sm-12" id="type">
            <option selected>Choose...</option>
            <option>any</option>
            <option>Game</option>
            <option>Serie/Anime</option>
          </select>
        </div>
        <div class="form-group row">
          <label class="" for="datepicker">Final date:</label>
          <input class="form-control col-12 col-sm-12 mt-2" type="datetime-local" name="" id="datepicker" [min]=date>
        </div>


        <div class="form-group row">
          <label for="content">Content:</label>
          <textarea class="form-control col-12" rows="3" placeholder="Content of task" id="content"></textarea>
        </div>
        <button class="btn btn-primary btn-block px-2">Create</button>
      </form>

    </div>
  </div>
</div>