#filter{
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    margin-top: -2px;
    overflow: hidden;
    height: 40px;
    transition: height 600ms;
    transition-delay: 300ms;
}

@media screen and (max-width: 600px){
    #filter{
        width: 109.5%;
        margin-left: -5%;
    }
}

#filter:hover{
    height: 200px;
}

#filter-icon{
    opacity: 1;
    transition: opacity 1s;
}

#filter:hover > #filter-icon{
    opacity: 0;
}

#btn-filter{
    transition: box-shadow 500ms;
}

#btn-filter:hover{
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}