<div id="filter" class="bg-light">
    <p id="filter-icon"><i class="fa fa-arrow-down"></i><strong>Filter</strong></p>
    <div class="px-5 pb-5">
        <form id="form">
            <div class="form-group">
                <label for="select">Category:</label>
                <select class="form-control" id="select" >
                    <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
                </select>
            </div>
            <button class="btn btn-block rounded" type="submit" id="btn-filter">Filter</button>
        </form>
    </div>
</div>
